body
{
	background-color:black
}
h1
{	
	color:blueviolet;
	text-align:center;
	font-size:54px;
}
h1
{
	font-family:cursive;
}
h2
{
	color:blueviolet;
}
img#insigne1
{
	width:400px; height:auto;
}
img#clonemarrant
{
	margin:20px;
	border:10px;
	display: inline-block;
}
p
{
	font-family:cursive;
}