body
{
	background-color:black;
	font-family:"JEFFE_";
}
h1
{	
	color:blueviolet;
	text-align:center;
	font-size:54px;
}
h2
{
	color:blueviolet;
}
img#insigne1
{
	width:400px; height:auto;
}
img#clonemarrant
{
	margin:20px;
	border:10px;
}
p
{
	font-family:cursive;
}
@font-face
{
	font-family:"JEFFE_";
	src: url("JEFFE_.TTF") format("truetype");
}
id="clonemarrant"
{
	display: inline-block;
}